doctype html
head
    title Pixelface
    link(rel='stylesheet', href='/css/home.css')
body
    article.home
        h1 Pixelface
        p
            a(href='/new').btn Draw Something!
            a(href='/blog').btn.orange Read the Blog