doctype html
head
    title Pixelface sitemap
body
    ul
        li
            a(href="/blog") Blog
        li
            a(href="/") Homepage
        li
            a(href='/new') New
        li
            a(href="/map") Sitemap